name: Run PHPStan

on: [ push ]

jobs:
  phpstan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup php
        uses: shivammathur/setup-php@v2

      - name: Install composer
        uses: php-actions/composer@v6

      - name: PHPStan
        run: composer phpstan
